const SidebarLink = styled.div`
    &:hover {
        background: lightblue;
        & > span {
            display: inline-block;
            transform: scale(1.2);
        }
    }
`

const Preview = styled.div ` 
    position: absolute;
    padding: 10px;
    background: #fff;
    top: 0;
    transform: translate(-25%, -100%);
    border-radius: 2px;
`
